docopt == 0.6.1 # dopasowanie wersji. Musi być 0.6.1
keyring >= 4.1.1 # minimalna wersja 4.1.1
coverage != 3.5 # wykluczenie wersji. Wszystko poza wersją 3.5
Mopidy-Dirble ~= 1.1 # Kompatybilna wersja. Rozumiane jako >= 1.1, == 1.*
pandas~=1.3.4
mcpi


pyfiglet~=0.8.post1
matplotlib~=3.5.0